table {
    width: 100%;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}
textarea{
    width: 600px;
    height:400px;
}
.empty{
    height: 50px;
}
.filters{
    padding: 20px;
}
.app .centre{
    text-align: center;
}